.movie_display {
    border:none;
    display:flex;
}

.movieStyle {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    margin:5px;
}

.imgStyle {
    height:150px;
    width:100px;
}

.buttonStyle {
    border:none;
    background-color: transparent;
    font-size: 15px;
    width:40px;
}

h2 {
    font-family: cursive;
    margin-bottom: 30px;
}

p{
   margin:20px; 
}